﻿@model BranchData
@using YeloBranchExchangeRate.Models

@foreach (Rate currency in Model.Rates)
{
    <tr>
        <td width="25%" valign="middle">@currency.Buy</td>
        <td width="15%" valign="middle">@CurrencyCodeMapper.GetSymbol(currency.Name)</td>
        <td width="25%" valign="middle">@currency.Sell</td>
    </tr>

}


