﻿@model YeloBranchExchangeRate.Models.CustomBranches
@{
    ViewBag.Title = "Settings";
}
<h2 style="text-align:center; font-style:italic">Yelo məzənnələr</h2>



@if (ViewBag.Errors != null)
{
    foreach (var data in ViewBag.Errors)
    {
        <div>@data.ErrorMessage</div>
    }
}


<form style="margin-top:50px;" method="post">


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="form-group">
                <label for="exampleInputEmail1">Filialı seçin</label>
                <select name="BranchCode" id="exampleInputEmail1" class="form-control">
                    <option value="">Seçin</option>

                    @foreach (YeloBranchExchangeRate.Models.Branch branch in Model.Branches)
                    {
                        <option value="@branch.code">@branch.name</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Yeniləmə müddətini seçin</label>

                <div class="row">
                    <div class="col-sm-6">
                        <select name="TimeValue" class="form-control">
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>

                    </div>
                    <div class="col-sm-6">
                        <select name="TimeType" class="form-control">
                            <option value="min">dəq</option>
                            <option value="hour">saat</option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-default">Göndər</button>
            </div>

        </div>
        <div class="col-sm-4"></div>
    </div>
</form>

