﻿@model YeloBranchExchangeRate.Models.SettingsModel
@{
    ViewBag.Title = "MainExchange";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<style>
    .footer {
        position: fixed;
        bottom: 50px;
        right: 150px;
    }
</style>







<div class="bg">
    <p style="font-size:80px; text-align:left;margin:50px; font-family:'TT Firs Neue Yelo Regular'">Valyuta mübadiləsi</p>


    <div class="row" style="margin:50px;">
        <div class="col-sm-9">
            <table style="width:100%;">
                <thead>
                    <tr>
                        <td style="font-size:45px; text-align:left; font-family:'TT Firs Neue Yelo Medium'">Alış</td>
                        <td></td>
                        <td style="font-size:45px; text-align:left; font-family:'TT Firs Neue Yelo Medium'">Satış</td>
                    </tr>
                </thead>
                <tbody id="rateTBody">
                </tbody>

            </table>
        </div>
        <div class="col-sm-3">

            <div class="footer">
                <div>
                    <div style="font-family: 'TT Firs Neue Yelo Medium';text-align: right; font-size:58px;">Saat</div>
                    <div style="font-family: 'TT Firs Neue Yelo Medium';text-align: right; font-size:58px;"><b id="currentTime"></b></div>
                    <br />
                    <div style="font-family: 'TT Firs Neue Yelo Medium';text-align: right; font-size:58px;">Tarix</div>
                    <div style="font-family:'TT Firs Neue Yelo Medium';font-size:58px;"><b id="currentDate"></b></div>
                </div>
            </div>



        </div>
    </div>

</div>

<script src="~/Scripts/moment.min.js"></script>
<script>

    function fetchdata() {
        $.ajax({
            url: '/Home/GetRates?branchCode=@Model.BranchCode',
            dataType: 'JSON',
            success: function (data) {
                if (data.result) {
                    $('#rateTBody').empty().html(data.html);
                }
            },
            error: function (xhr) {
                var errorMessage = xhr.status + ': ' + xhr.statusText
                $('#rateTBody').empty().html(errorMessage);
            }
        });
    }

    function updateDateTime()
    {
        var currentTime = moment().format('HH:mm');
        var currentDate = moment().format('DD.MM.YYYY');
        $("#currentTime").text(currentTime);
        $("#currentDate").text(currentDate);
    }



    $(document).ready(function () {
        var millis = parseInt("@Model.TimeInMillis");
        fetchdata();
        setInterval(fetchdata, millis);

        setInterval(updateDateTime, 1000);

    });




</script>


