﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg {
    /* The image used */
    background-image: url("Images/yeloBackground.jpg");
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
}

#rateTBody td {
    font-size: 100px;
    font-family: 'TT Firs Neue Yelo Medium';
}



@font-face {
    font-family: 'TT Firs Neue Yelo ExtraBold Italic';
    src: url('fonts/TT Firs Neue Yelo ExtraBold Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Firs Neue Yelo Thin';
    src: url('fonts/TT Firs Neue Yelo Thin.woff') format('woff');
}

@font-face {
    font-family: 'TT Firs Neue Yelo Regular';
    src: url('fonts/TT Firs Neue Yelo Regular.woff') format('woff');
}

@font-face {
    font-family: 'TT Firs Neue Yelo Bold';
    src: url('fonts/TT Firs Neue Yelo Bold.woff') format('woff');
}

@font-face {
    font-family: 'TT Firs Neue Yelo Medium';
    src: url('fonts/TT Firs Neue Yelo Medium.woff') format('woff');
}
